<h1 mat-dialog-title>Nova Reunião</h1>

<form class="example-form" [formGroup]="meetingForm">

    <input type="hidden" formControlName="id" name="id">
    
    <mat-form-field class="example-full-width">
        <mat-label>Nome:</mat-label>
        <input matInput placeholder="" formControlName="name" name="name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Assunto:</mat-label>
        <input matInput placeholder="" formControlName="subject" name="subject">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Responsável:</mat-label>
        <input matInput placeholder="" formControlName="responsible" name="responsible">
    </mat-form-field>

    <div fxLayout="row wrap">
        <div fxFlex="50" fxFill fxLayoutAlign="start center">
            <mat-form-field>
                <mat-label>Data</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex="50" fxFill fxLayoutAlign="start center">
            <mat-form-field>
                <mat-label>Horário</mat-label>
                <input matInput type="time" placeholder="" formControlName="time">
            </mat-form-field>
        </div>
    </div>

    <div>
        <button mat-raised-button (click)="cancel()">Cancelar</button>
        <button mat-raised-button color="primary" [disabled]="!meetingForm.valid" (click)="save()">
            <mat-icon>add</mat-icon>Nova Reunião
        </button>
    </div>

</form>
